.page-title {
  font-family: $logo-font;
  font-size: 18px;
  margin: 30px;

}

.restaurant-detail-link {
    &:hover {
      text-decoration: none;
    }
  }

.card {
  border: none;
  margin-right: 20px;

   .card-img-top {
     width: 250px;
     height: 170px;
   }
   .card-body {
     padding: 0.25rem;
     margin-bottom: 1.25rem;
      .card-subtitle {
       margin:0;
       font-size: 14px;
       text-transform: uppercase;
       color: $light-gray-color;
      }
      .card-title {
        margin:0;
        padding-bottom: 5px;
        font-weight: 600;
        color: $main-black-color;
      }
      .card-text-rate {
        margin:0;
        color: $light-gray-color;
         .card-daily-rate {
           font-weight: 600;
           color: $main-black-color;
         }
      }
      .card-text-km {
        color: $main-text-gray-color;
      }
  }
}

 .food-search {
    margin-top: 20px;
  }
