.img-login {
	border-radius: 35%;
}

.img-partner {
	border-radius: 40%;
}
.auth-row {
 	 margin: 0 auto;
  
	  .auth-text {
	    margin-left: auto;
	  }

	  .auth-btn {
	  	margin-right: auto;
	  }
}

.fb-btn {
	padding-left: 68px;
	padding-right: 68px;
}