.img-login {
	border-radius: 35%;
}

.fb-btn {
	padding-left: 68px;
	padding-right: 68px;
	color: #fff;
  background-color: #3b5998;
}

.wrap-login {
  background: #fff;
  border-radius: 10px;
	position: relative;
}


.fc-r{
	width: 700px;
}