@import url("https://fonts.googleapis.com/css?family=Dosis|Raleway|Roboto|Rock+Salt");
.navbar {
  padding: 0.5rem; }
  .navbar .navbar-brand {
    font-family: "Rock Salt", cursive; }

.bnb-form {
  margin-top: 30px; }
  .bnb-form .btn-register {
    margin-top: 1rem;
    padding: 15px; }
  .bnb-form .span-12 {
    margin: 7px; }

body {
  font-family: "Raleway", sans-serif; }

.btn {
  font-weight: bold; }
