@import 'variables.scss';
@import 'header/header.scss';
@import 'login/login.scss';
@import 'home/home.scss';
@import 'restaurants/restaurants.scss';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: $font-raleway;
}

.btn {
    font-weight: bold;
    border-radius: 22.5px;
}

