@import 'variables.scss';
@import 'header/header.scss';
@import 'login/login.scss';
@import 'restaurants/restaurants.scss';

body {
  font-family: $font-raleway;
}

.btn {
    font-weight: bold;
    border-radius: 22.5px;
}

