@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Raleway:300,500');
@import 'variables.scss';
@import 'header/header.scss';
@import 'login/login.scss';
@import 'home/home.scss';
@import 'restaurants/restaurants-index.scss';
@import 'restaurants/restaurants-menu.scss';
@import 'footer/footer.scss';
@import 'profile/profile.scss';
@import 'restaurants/restaurant-crud.scss';
@import 'cart/cart.scss';

body {
  font-family: $font-raleway;
  background: $main-color
}

p {
  font-family: $font-raleway;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.8rem;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.container {
	margin-top: 68px;
}

.wrap {
  min-height:678px;
  margin-top: 68px;
}

.btn {
  font-weight: bold;
  border-radius: 22.5px;
}

.form-control{
	border-radius: 2.3rem;
}

.form-control-label {
  font-size: .9rem;
  color: #6c757d;
}

.shadow {
  -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1) !important;
}

.text-violet {
  color: #DF99CA !important;
}

.spinner-container {
  min-height: 680px;
  padding-top: 280px;
  vertical-align: middle;
  text-align: center;
}

.css-15s48b{
  margin: auto;
}

/*-------------------------------------------*\
    Media Queries 
\*-------------------------------------------*/
    /**
     * 
     *  Ipad Pro 
     * 
     */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .wrap {
    min-height: 928px;
  }
}
