@import url('https://fonts.googleapis.com/css?family=Dosis|Raleway|Roboto|Rock+Salt');

$font-raleway: 'Raleway', sans-serif;
$logo-font: 'Rock Salt', cursive;

$main-color: #fafafa;
$main-text-gray-color: #484848;
$light-gray-color: #a9a9a9;
$main-black-color: #20322a;
$main-white-color: #ededed;

